It's not that we humans only take debts to manage our necessities. A country may also take debt to manage its economy. For example, infrastructure spending is one costly ingredient required for a country's citizens to lead comfortable lives. [The World Bank](https://www.worldbank.org) is the organization that provides debt to countries.

In this notebook, we are going to analyze international debt data collected by The World Bank. The dataset contains information about the amount of debt (in USD) owed by developing countries across several categories. We are going to find the answers to questions like: 

- What is the total amount of debt that is owed by the countries listed in the dataset?
- Which country owns the maximum amount of debt and what does that amount look like?
- What is the average amount of debt owed by countries across different debt indicators?

![](image.jpg)

Below is a snapshot of the database you will be working with:

|country_name|country_code|indicator_name                                                    |indicator_code|debt       |
|------------|------------|------------------------------------------------------------------|--------------|-----------|
|Afghanistan |AFG         |"Disbursements on external debt, long-term (DIS, current US$)"    |DT.DIS.DLXF.CD|72894453.7 |
|Afghanistan |AFG         |"Interest payments on external debt, long-term (INT, current US$)"|DT.INT.DLXF.CD|53239440.1 |
|Afghanistan |AFG         |"PPG, bilateral (AMT, current US$)"                               |DT.AMT.BLAT.CD|61739336.9 |
|Afghanistan |AFG         |"PPG, bilateral (DIS, current US$)"                               |DT.DIS.BLAT.CD|49114729.4 |
|Afghanistan |AFG         |"PPG, bilateral (INT, current US$)"                               |DT.INT.BLAT.CD|39903620.1 |
|Afghanistan |AFG         |"PPG, multilateral (AMT, current US$)"                            |DT.AMT.MLAT.CD|39107845   |
|Afghanistan |AFG         |"PPG, multilateral (DIS, current US$)"                            |DT.DIS.MLAT.CD|23779724.3 |
|Afghanistan |AFG         |"PPG, multilateral (INT, current US$)"                            |DT.INT.MLAT.CD|13335820   |
|Afghanistan |AFG         |"PPG, official creditors (AMT, current US$)"                      |DT.AMT.OFFT.CD|100847181.9|
|Afghanistan |AFG         |"PPG, official creditors (DIS, current US$)"                      |DT.DIS.OFFT.CD|72894453.7 |

You will execute SQL queries to answer six questions, as listed in the instructions.

In [1]:
--num_distinct_countries
SELECT 
	COUNT(DISTINCT country_name) AS total_distinct_countries
FROM international_debt;

   total_distinct_countries
0                       124

In [2]:
--distinct_debt_indicators
SELECT 
    DISTINCT(indicator_code) as distinct_debt_indicators
FROM international_debt
GROUP BY distinct_debt_indicators
ORDER BY distinct_debt_indicators;

   distinct_debt_indicators
0            DT.AMT.BLAT.CD
1            DT.AMT.DLXF.CD
2            DT.AMT.DPNG.CD
3            DT.AMT.MLAT.CD
4            DT.AMT.OFFT.CD
5            DT.AMT.PBND.CD
6            DT.AMT.PCBK.CD
7            DT.AMT.PROP.CD
8            DT.AMT.PRVT.CD
9            DT.DIS.BLAT.CD
10           DT.DIS.DLXF.CD
11           DT.DIS.MLAT.CD
12           DT.DIS.OFFT.CD
13           DT.DIS.PCBK.CD
14           DT.DIS.PROP.CD
15           DT.DIS.PRVT.CD
16           DT.INT.BLAT.CD
17           DT.INT.DLXF.CD
18           DT.INT.DPNG.CD
19           DT.INT.MLAT.CD
20           DT.INT.OFFT.CD
21           DT.INT.PBND.CD
22           DT.INT.PCBK.CD
23           DT.INT.PROP.CD
24           DT.INT.PRVT.CD

In [3]:
--total_debt
SELECT 
    ROUND(SUM(debt)/1000000, 2) as total_debt
FROM international_debt;

   total_debt
0  3079734.49

In [4]:
--highest_debt_country
SELECT 
    country_name, 
    ROUND(SUM(debt)/1000000, 2) as total_debt
FROM international_debt
GROUP BY country_name
ORDER BY total_debt DESC 
LIMIT 1;

  country_name  total_debt
0        China   285793.49

In [6]:
--avg_debt_per_indicator
SELECT 
    indicator_code AS debt_indicator,
    indicator_name,
	ROUND(AVG(debt)/1000000,2) as average_debt
FROM international_debt
GROUP BY debt_indicator, indicator_name
ORDER BY average_debt DESC
LIMIT 10;

   debt_indicator  ... average_debt
0  DT.AMT.DLXF.CD  ...      5904.87
1  DT.AMT.DPNG.CD  ...      5161.19
2  DT.DIS.DLXF.CD  ...      2152.04
3  DT.DIS.OFFT.CD  ...      1958.98
4  DT.AMT.PRVT.CD  ...      1803.69
5  DT.INT.DLXF.CD  ...      1644.02
6  DT.DIS.BLAT.CD  ...      1223.14
7  DT.INT.DPNG.CD  ...      1220.41
8  DT.AMT.OFFT.CD  ...      1191.19
9  DT.AMT.PBND.CD  ...      1082.62

[10 rows x 3 columns]

In [7]:
--highest_principal_repayment
SELECT 
    country_name, 
    ROUND(AVG(debt)/1000000,2) as average_debt,
    indicator_name,
    indicator_code
FROM international_debt
GROUP BY country_name, indicator_name, indicator_code
HAVING indicator_code = 'DT.AMT.DLXF.CD'
ORDER BY average_debt DESC
LIMIT 10;

                                   country_name  ...  indicator_code
0                                         China  ...  DT.AMT.DLXF.CD
1                                        Brazil  ...  DT.AMT.DLXF.CD
2                            Russian Federation  ...  DT.AMT.DLXF.CD
3                                        Turkey  ...  DT.AMT.DLXF.CD
4                                    South Asia  ...  DT.AMT.DLXF.CD
5                                         India  ...  DT.AMT.DLXF.CD
6                                     Indonesia  ...  DT.AMT.DLXF.CD
7                                    Kazakhstan  ...  DT.AMT.DLXF.CD
8                                        Mexico  ...  DT.AMT.DLXF.CD
9  Least developed countries: UN classification  ...  DT.AMT.DLXF.CD

[10 rows x 4 columns]